@font-face {
  font-family: 'koulen';
  src: url('assets/koulen-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  
}

:root {
  --color-1:#ffeede;
  --color-2:#980505;
  --color-3:white;
  --color-4:#000000(0,0,0,0.60);

  --BG-1:#000000;
  --BG-2:#ffeede;
  --BG-3:#e4d5c7;
  --BG-4:#bbafa3;
  
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: var();
    background-color: var(--color-1);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
